%title Sinatra Skeleton App

%link{:rel => :stylesheet, :type => :"text/css", :href => "/css/style.css"}
%link{:rel => :stylesheet, :type =>:"text/css", :href => "/css/bootstrap.css"}
%script{ :src => '//code.jquery.com/jquery-1.11.0.min.js', :type => 'text/javascript', :charset => 'utf-8' }
%script{ :src => '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js', :type => 'text/javascript', :charset => 'utf-8' }

%body
  %h3{ :style => "text-align:center;" } It worked!
