%title Learn C the Right Way

%link{:rel => :stylesheet, :type => :"text/css", :href => "/css/style.css"}
%link{:rel => :stylesheet, :type =>:"text/css", :href => "/css/bootstrap.css"}
%script{ :src => '//code.jquery.com/jquery-1.11.0.min.js', :type => 'text/javascript', :charset => 'utf-8' }
%script{ :src => '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js', :type => 'text/javascript', :charset => 'utf-8' }

%body
  %a{href:"http://www.amazon.com/gp/product/0131103628/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0131103628&linkCode=as2&tag=learnctherigh-20&linkId=BE7JD5EQKSYRTLIZ"} 
    %img{border:"0", src:"http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0131103628&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=learnctherigh-20", style: "height:90%;margin-left:auto;margin-right:auto;display:block;"}
  %a{href:"http://www.amazon.com/gp/product/0131103628/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0131103628&linkCode=as2&tag=learnctherigh-20&linkId=BE7JD5EQKSYRTLIZ"}
    %p{style:"text-align:center;"} Buy the definitive source; The C Programming Language
    %img{src:"http://ir-na.amazon-adsystem.com/e/ir?t=learnctherigh-20&l=as2&o=1&a=0131103628", width:"1", height:"1", border:"0", alt:"", style:"border:none !important; margin:0px !important;"} 

